{% extends "base.html" %}

{% block title %}Форма{% endblock %}

{% block content %}
    <h1>Форма поста. Записей в БД: <b>{{ count }}</b></h1>
    <h2>{{ message }}</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Send" />
    </form>

    <h1>Список постов:</h1>
    <ul>
        {% for post in posts %}
            <li> 
                <a href="{% url 'blog:post_card' post.id %}">{{ post.id }} {{ post.title }}</a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
