<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="wrapper">
        <!-- header -->
        <header>
            
        </header>
        <!-- МЕНЮ -->
        <nav>
            <ul class="top-menu">
                <li><a href="">Лента</a></li>
                <li><a href="">Профиль</a></li>
            </ul>
        </nav>
        <!-- Карточка поста -->
        <div class="post-card">
            <!-- <img src="static/mountains.jpg" alt="mountains"> -->
            <div class="image">Картинка</div>
            <div class="information">
                Дата и время / <a href="">Категория</a> / <a href="">Автор</a>   
            </div>
            <div class="text">Текст записи Lorem ipsum dolor sit amet consectetur, 
                adipisicing elit. Harum sed nam, quis non praesentium vitae fugit aut numquam 
                itaque, pariatur repudiandae laborum veniam officia facilis dolorem nostrum, 
                vel facere maxime!</div>
        </div>
       
    </div>
    <footer></footer>
</body>
</html>