/* Шапка */
.heading {
  background-color: rgb(219, 146, 146);
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.logo {
  border: 3px solid black;
  height: 30px;
  position: inherit;
}
.button-profile {
  border: 3px solid black;
  height: 30px;
}
/* Карточка поста */
.content {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.post-card {
  height: auto;
  width: 35%;
  border: 1px solid black;
}
.post-card-top {
  display: flex;
  flex-wrap: nowrap;
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
}
.text {
  padding: 10px;
  margin: 5px;
  border: 1px solid black;
}
a {
  border: 1px solid black;
}
p {
  border: 1px solid black;
}
