{% load static %}
<header>
    <ul>
        <li><a href={% url 'blog:index' %}>Главная</a></li>
        <li><a href={% url 'blog:profile' %}>Профиль</a></li>
        <li><a href={% url 'blog:post_form' %}>Написть пост</a></li>
        
        {% if user.is_authenticated  %}
        <p>Пользователь: {{ user.username }}</p>
        <p>Админ: {{ user.is_superuser }}</p>
        <li><a href={% url 'logout' %}>Выйти</a></li>
        {% else %}
        <li><a href={% url 'login' %}>Войти</a></li>
        <li><a href={% url 'registration' %}>Зарегестрироваться</a></li>
        {% endif %}
    </ul>
</header>