{% load static %}
<header>
    <ul>
        <li><a href={% url 'blog:index' %}>Главная</a></li>
        {% if user.is_authenticated  %}
        <li><a href={% url 'users:user_profile' user.id %}>{{ user.username }}</a></li>
        {% endif %}
        <li><a href={% url 'blog:post_form' %}>Написть пост</a></li>
        
        {% if user.is_authenticated  %}
        <li><a href={% url 'logout' %}>Выйти</a></li>
        {% else %}
        <li><a href={% url 'login' %}>Войти</a></li>
        <li><a href={% url 'registration' %}>Зарегестрироваться</a></li>
        {% endif %}
    </ul>
</header>